[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_home }}
Environment=CATALINA_PID={{ catalina_home }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ catalina_home }}
Environment=CATALINE_BASE={{ catalina_home }}
Environment='CATALINE_OPTS=-server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.haedless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ catalina_home }}/bin/startup.sh
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
